.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 33px 0px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  width: 168px;
}

.sidebar-pages {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: end;
}

