.page-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
  padding: 24px 14px;
  background-color: #f4f7fe;
}

.title-section {
  display: flex;
  justify-content: space-between;
}

.calendar-section {
  display: flex;
  align-items: center;
  background-color: white;
  width: fit-content;
  border-radius: 5px;
  padding: 8px;
  gap: 12px;
}

.cards-section {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

