.page-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
  padding: 24px 14px;
  background-color: #f4f7fe;
}

.title-section {
  display: flex;
  justify-content: space-between;
}

.title-section-stats-container {
  display: flex;
  gap: 10px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #2b3674;
}

.cards-section {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
